.actionScreenContainer {
    
    border: solid 10px red;
    justify-content: space-evenly;
    width: 200px;
    height: auto;
    


}

#humanIcon ,#comIcon,#humanMove,#comMove {
    width:200px;
    height: auto ;
}

#comScore, #humanScoreBoard {
    padding-top: 70px;

}

.actionScreen {
    display: flex;
    
    
}

h1 {
    text-align: center;

}

h2 {
    text-align: center;
}

.moveButtonsContainer {
    display: flex;
    justify-content: space-evenly;
    
}

.moveButtons {
    width: 300px;
    height: 65px;
    border-radius: 10px;
}